* {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    overflow-x: hidden !important;
    max-width: 100% !important;
  }
  /* .container{
    display: flex;
    flex-wrap: wrap;
  } */
  .topnav {
    background-color: rgb(4, 150, 77);;
    overflow: hidden;
   position: relative;
   margin-right: 105px;
   width:100%;
  }
  .menu-links{
    margin-left: 200px;
  }
  
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #2d1586;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }
  
  @media screen and (max-width: 768px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: left;
      display: table-column;
    }
    
    .menu-links{
      margin-left: 0px;
      padding-left: 15px;
    }
    .topnav{
      width: 100%;
      padding-left: 10px;
      height: 56px;
    }
  }
  
  @media screen and (max-width: 1024px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: left;
      display: table-column;
    }
    .menu-links{
      margin-left: 0px;
      padding-left: 15px;
    }
    .topnav{
      width: 100%;
      height:56px
    }
  }
  

  
  @media screen and (max-width:1024px) {
    .column {
      width: 50%;
      font-size: large;
    }
    .column li{
      font-size: 32px;
    }
}
    
  
  

  
  footer{
    background-color: rgb(4, 150, 77);;
    height: 400px;
  }
  .subscribe-button{
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    background-color: #90b8ac;
  }
  .subscribe-input{
    border-radius: 5px;
    padding: 5px;
  }
  
  .footer-content{
    padding: 90px;
    padding-bottom: 0;
    float: left;
    /* margin-right: 50px; */
  }
  .footer-content h3{
    color: white;
    font-size: 24px;
  }

 .social-media{
     width: 50px;
     height: 50px;
 }
 .copyright{
     text-align: center;
     color: white;
     margin-left: 400px;
 }

 .pages{
     display: block;
     color: white;
     font-size: 18;
 }

 /* media query for footer */
 @media screen and (max-width: 768px) {
  .footer-content{
    padding-top: 10px;
    margin: 30px 100px;
    display: block;
  }
  .footer-header{
    font-size: 102px;
  }
  .copyright{
    text-align: center;
    color: grey;
}
.social-media{
  width: 40px;
  height: 40px;
}

footer{
  background-color: #90b8ac;
  height: 680px;
}
.footer-header{
  font-size: 72px;
}
 }
 @media screen and (max-width: 768px) {
  .footer-content{
    padding-top: 10px;
    margin: 10px 30px;
    display: block;
  }
  .footer-header{
    font-size: 102px;
  }
  .copyright{
    text-align: center;
    color: grey;
}
.social-media{
  width: 40px;
  height: 40px;
}

footer{
  background-color: rgb(4, 150, 77);;
  height: 780px;
}
.footer-header{
  font-size: 72px;
}
 }
 
 /* responsive navigation*/
 
 .sidenav {
  height: 50%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 60px;
  color: #818181;
  display: block;
  transition: 0.3s;
  margin: 10px 10px;
  margin-top: 40px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-width: 768px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {
    font-size: 18px;
    margin: 10px 10px;}
  .menu-links{text-align: center;
  font-size: 32px;
  }
  .sidenav a{
    font-size: 34px;
    display: block;
  }
}

/* blog styles */
img{
    width: 600px;
    height: 300px;
}

.column {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  }
  
  
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .row{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  p{
    font-size: 24px;
  }
  ul{
    list-style-type:none;
  }
  .feeds-link{
    text-decoration: none;
    color: black;
  }
  
  
  
  @media screen and (max-width:1024px){
    img{
      width: 100%;
    }
  }
  @media screen and (max-width:768px){
    .body{
       overflow-x: hidden !important;
       margin: 0;
       padding: 0;
    }
    .blog-article{
      margin: 0;
    }
    img{
      width: 98%;
    }
    p{
      width: 80%;
    }
    h2{
      width: 80%;

    }
    hr{
      width: 300px;
      margin-top: 10;
      padding-left:0;
    }
    #retrieve-article{
      text-align: center;
      width: 414px;
      align-items: center;
    }
    .column{
      width: 414px;
    }
  }
  @media screen and (max-width:414px){
    .body{
      overflow-x: hidden !important;
      margin: 0;
      padding: 0;
   }
   .blog-article{
     margin: 0;
   }
   img{
     width: 80%;
   }
   p{
     width: 80%;
   }
   h2{
     width: 80%;

   }
   hr{
     width: 300px;
     margin-top: 10;
     padding-left:0;
   }
   #retrieve-article{
    text-align: center;
     width: 375px;
     align-items: center;
   }
   .column{
     width: 375px;
   }
   footer{
    background-color: #90b8ac;
    height: 780px;
    margin: 0;
    padding: 0;
  }
  }
  /* blog-details */
  