@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
:root {
  --primary: #b1006a;
  --color-white: #fff;
  --color-grey: #333;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
  color: var(--color-grey);
  line-height: 1.6;
  font-size: 16px;
  transition: 0.2s;
}
h1{
    font-weight: bold;
    font-size: 70px;
    text-align: center;
}
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}
h3 {
  padding: 20px 0;
  font-size: 20px;
}
p {
  margin: 10px 0;
}
img {
  width: 100%;
  height: 400px;
}
.article {
    background-color: var(--color-white);
    margin: 40px 60px;
  }
  .article .article-grid {
    display: grid;
    grid-template-columns: repeat(1/ 1fr);
    gap: 20px;
  }
  .article .author {
    display: flex;
    gap: 10px;
    font-size: 16px;
  }
  .article .add-comment {
    display: flex;
    flex-direction: column;
  }
  .article .add-comment input {
    height: 50px;
    margin: 20px 0;
    border: none;
    width: 50%;
    border: 1px solid var(--color-grey);
   
  }
  .article .comment-color input{
    height: 50px;
    margin: 20px 0;
    border: none;
    width: 50%;
    border: 1px solid var(--color-grey);
    color:#fff;
    background: #04964D;
  }
  .article .add-comment input:focus {
    outline: none;
  }
  .article .add-comment textarea {
    height: 200px;
    margin: 20px 0;
    width: 50%;
  }
  .article .comment {
    border-bottom: 1px solid var(--primary);
    margin-bottom: 40px;
  }
  .article .comment .commentor {
    display: block;
    gap: 10px;
    font-size: 16px;
  }
  .article .comment .commentor img {
    width: 48px;
    height: 48px;
  }
  /* IPAD RESPONSIVE */
  
  .article .add-comment input {
    width: 100%;
  }
  .article .add-comment textarea {
    width: 100%;
  }
  form a{
    background-color: darkgray;
    padding:7px;
    text-decoration: none;
    color: black;
    text-emphasis: bold;
    border-radius: 4px;
  }

  .comment p{
    font-size: 16px;
  }
  .comment span{
    font-size: 24px;
    font-weight: bold;
  }
  .comment{
    background-color: cornsilk;
  }
  .comment p, span{
    margin-left: 30px;
  }

  @media screen and (max-width: 768px) {
    .article .article-grid {
      grid-template-columns: repeat(1/ 1fr);
    }
  }
  @media screen and (max-width: 480px) {
    .article .article-grid {
      grid-template-columns: repeat(1/ 1fr);
    }

    
  }
  @media screen and (max-width: 320px) {
    .article .article-grid {
      grid-template-columns: repeat(1/ 1fr);
    }
  }
  @media screen and (max-width: 768px) {
    .article .add-comment input {
      width: 100%;
    }
    .article .add-comment textarea {
      width: 100%;
    }
  }
  @media screen and (max-width: 480px) {
    .article .add-comment input {
      width: 100%;
    }
    .article .add-comment textarea {
      width: 100%;
    }
  }
  @media screen and (max-width: 320px) {
    .article .add-comment input {
      width: 100%;
    }
    .article .add-comment textarea {
      width: 100%;
    }
  }
  